<html>
<head>
  <title>Artists - {{user}}</title>
  <style type="text/css">
    {% include 'main.css' %}
  </style>
  <meta name="viewport" content="width=device-width">
</head>
<body>
<div>
  <!--
  <h1 class="links">
    <div>Artists</div>
    <div>Albums</div>
  </h1>
  -->
  {% for chart in charts %}
  {% if chart['entries'] | length > 0 %}
  <div>
    <h2>{{chart['week'] | format_date}}</h2>
    <ul>
      {% for entry in chart['entries'] %}
      <li>
        <a href="spotify:search:{{entry['title']}}">
          <span>
            <span>{{entry['title']}}</span>
            <span>{{entry['subtitle']}}</span>
          </span>
          <span>{{entry['weight']}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
</div>
</body>
</html>
