<html>
<head>
  <title>Films - {{user}}</title>
  <style type="text/css">
    {% include 'main.css' %}

.submit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submit-form > * {
  margin: 0.5em;
}

.submit-form input[type=text] {
  display: flex;
  flex: 1;
  font-size: larger;
}

.submit-form input {
  padding: 0.5em;
  border-radius: 5px;
  background-color: #B0B0B0;
  outline: none;
  border: none;
}

.submit-form input[type=text]:focus {
  background-color: white;
}

  </style>
  <meta name="viewport" content="width=device-width">
</head>
<body>
<div>
  <div class="submit-form">
    <input type="text" placeholder="add a film">
    <input type="date" id="date-picker">
    <button type="submit">+</button>
  </div>
  <ul>
    {% for entry in log | sort(attribute='watch_time') %}
    <li>
      <a>
        <span>
          <span>{{entry['film']}}</span>
          <span></span>
        </span>
        <span>{{entry['watch_time'] | format_date}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  <script type="text/javascript">
    document.getElementById('date-picker').valueAsDate = new Date();
  </script>
</div>
</body>
</html>
